---
const {
  ctaText,
  ctaLink,
  bgColor = "var(--primary-color-green)",
  textColor = "var(--primary-color-offwhite)",
  borderColor = "var(--primary-color-black)", //
  id,
} = Astro.props;
---

<a
  id={id}
  href={ctaLink}
  style={`background-color: ${bgColor}; color: ${textColor}; border: 1px solid ${borderColor};`}
  class="mr-5 inline-block rounded-4xl px-5 py-1 text-center"
>
  {ctaText}
</a>
