---
const {
  ctaText,
  ctaLink,
  bgColor = "var(--primary-color-green)",
  textColor = "var(--primary-color-offwhite)",
  borderColor = "var(--primary-color-black)", //
  id
} = Astro.props;
---

<a
  id={id}
  href={ctaLink}
  style={`background-color: ${bgColor}; color: ${textColor}; border: 1px solid ${borderColor};`}
  class="px-5 py-1 rounded-4xl inline-block text-center mr-5"
>
  {ctaText}
</a>